### List(Array) of anytype

In [5]:
a = []

0-element Array{Any,1}

In [6]:
push!(a, 2.34)

1-element Array{Any,1}:
 2.34

In [7]:
push!(a, "Hello")
println(a)

Any[2.34, "Hello"]

In [8]:
println(a[1])

2.34

In [10]:
println(a[end])

Hello

### List of floats(32)

In [12]:
a = Float32[]

0-element Array{Float32,1}

In [13]:
push!(a, 4)

1-element Array{Float32,1}:
 4.0

In [14]:
pop!(a)

4.0f0

### Combine two lists into list of tuples

In [17]:
collect(zip(1:10, 1:10))

10-element Array{Tuple{Int64,Int64},1}:
 (1, 1)
 (2, 2)
 (3, 3)
 (4, 4)
 (5, 5)
 (6, 6)
 (7, 7)
 (8, 8)
 (9, 9)
 (10, 10)

### Dictionaries

In [18]:
x = Dict([1=>2, 2=>"W", "r"=>23])

Dict{Any,Any} with 3 entries:
  2   => "W"
  "r" => 23
  1   => 2

In [2]:
 d1 = Dict(zip(["a_"*string(i) for i in 1:10], 1:10))

Dict{String,Int64} with 10 entries:
  "a_7"  => 7
  "a_4"  => 4
  "a_8"  => 8
  "a_1"  => 1
  "a_9"  => 9
  "a_10" => 10
  "a_5"  => 5
  "a_2"  => 2
  "a_3"  => 3
  "a_6"  => 6

In [3]:
d1["a_3"]

3

In [4]:
get(d1,"a_3", -99)

3

In [5]:
get(d1,"a_77", -99)

-99

### Operations on iterables

In [6]:
any(i->(4<=i<=6), [3,5,7])

true

In [7]:
all(i->(4<=i<=6), [3,5,7])

false

In [11]:
a = rand(5)
for (i,v) in enumerate(a)
    println(i," ", v)
end

1 0.028247690834260597
2 0.5675251923058364
3 0.810763413515234
4 0.2781803056504948
5 0.4349025956048078

In [25]:
sum(x->x^2, [1, 2, 3])

14

In [26]:
map(x->x^3, [1, 2, 3])

3-element Array{Int64,1}:
  1
  8
 27

In [27]:
reduce(*, [1, 2, 3])

6

In [33]:
reduce(*, map(x->x^3, [1, 2, 3]))

216

In [28]:
reduce(*, [1, 2, 3], init=-5)

-30

In [24]:
minimum(length, ["Julion", "Julia", "Jule"])

4

In [29]:
maximum(x->x^2-2., [4,3,-1,2])

14.0

In [32]:
extrema(x->x^2-2., [4,3,-1,2])

(-1.0, 14.0)

* ! means in place

In [42]:
A = [7, 3, 2, 3, 7, 5]
println(sort(A))
sort(A)
println(A)

[2, 3, 3, 5, 7, 7]
[7, 3, 2, 3, 7, 5]

In [43]:
A = [7, 3, 2, 3, 7, 5]
println(sort(A))
sort!(A)
println(A)

[2, 3, 3, 5, 7, 7]
[2, 3, 3, 5, 7, 7]

In [44]:
v = randn(5)

5-element Array{Float64,1}:
 -0.2845218586593395
 -0.11971703891306014
  0.6333616674879438
 -2.476525510378166
  0.35886243958828257

In [48]:
sort!(v, by=abs, rev=true)

5-element Array{Float64,1}:
 -2.476525510378166
  0.6333616674879438
  0.35886243958828257
 -0.2845218586593395
 -0.11971703891306014

In [49]:
v # because we used ! the sorting is done in place

5-element Array{Float64,1}:
 -2.476525510378166
  0.6333616674879438
  0.35886243958828257
 -0.2845218586593395
 -0.11971703891306014

In [54]:
v = randn(5)
display(v)
sort!(v, by=x->-x^2+0.5, rev=true)
v

5-element Array{Float64,1}:
 -0.8367155138890815
  0.5950724484894387
  0.6353791528384202
  0.537857835097348
 -1.3126618094529503

5-element Array{Float64,1}:
  0.537857835097348
  0.5950724484894387
  0.6353791528384202
 -0.8367155138890815
 -1.3126618094529503

In [62]:
fct(x) = -0.5x -1.
v = randn(5)
display(v)
sort!(v, by=fct)
#foreach(println, v)
for r in v
    println(r, "\t", fct(r))
end

5-element Array{Float64,1}:
  0.6860176909500618
  0.3460475004725429
 -1.3295109507273333
  0.3610975565564487
 -0.31470534568022046

0.6860176909500618	-1.3430088454750309
0.3610975565564487	-1.1805487782782245
0.3460475004725429	-1.1730237502362715
-0.31470534568022046	-0.8426473271598898
-1.3295109507273333	-0.33524452463633336

In [65]:
str="This is a string"
print(str[1]," ", str[end])

T g

In [72]:
s="Hello"*"World"
s

"HelloWorld"

In [77]:
s=string("Hello",", ","world")

"Hello, world"

In [75]:
SubString(s, 3, 6)

"lloW"